*{
  margin: 0;
  padding: 0;

}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

header {
  z-index: 1;
font-family: "roboto";
display: flex;
position: sticky;
top: 0%;
align-items: center;
background: radial-gradient(circle, #1d0799 0%, #086c94 100%);
padding: 20px;
}

nav{
  display: flex;
}

ul{
  display: flex;
  list-style-type: none;
}

li{justify-content: center;
  padding: 0 20px;
  
}

.logo{
  border-radius: 5px;
  padding: 10px;
  background-color: #0b8a4e;
}