*{
  margin: 0;
  padding: 0;

}

header {
  z-index: 1;
font-family: "roboto";
display: flex;
position: sticky;
top: 0%;
align-items: center;
background: radial-gradient(circle, #1d0799 0%, #086c94 100%);
padding: 20px;
}

nav{
  display: flex;
}

ul{
  display: flex;
  list-style-type: none;
}

li{justify-content: center;
  padding: 0 20px;
  
}

.logo{
  border-radius: 5px;
  padding: 10px;
  background-color: #0b8a4e;
}